{
  "tabWidth": 2,
  "bracketSameLine": true,
  "useTabs": false,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.wxml",
      "options": { "parser": "html" }
    },
    {
      "files": "*.scss",
      "options": { "parser": "css" }
    },
    {
      "files": "*.wxs",
      "options": { "parser": "babel" }
    }
  ]
}
